@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Source Serif Pro", serif !important;
}

.ant-spin {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.row .col-md-12 textarea {
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid rgb(212, 212, 212) !important;
}

.row .col-md-12 textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ant-btn-dashed {
  width: 200px !important;
  border: 1px dashed rgb(190, 189, 189) !important;
}

.update-profile label,
h5 {
  font-family: "Source Serif Pro", serif !important;
  font-weight: bold;
}

.btnupdt {
  /*border: 1px solid gray !important;*/
  box-shadow: 5px 10px 18px #aaa4a4 !important;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(7, 7, 7) !important;
  font-family: "Source Serif Pro", serif !important;
  font-weight: bold !important;
  padding-top: 5px !important;
}

.btnupdt:hover {
  /*border: 1px solid gray !important;*/
  box-shadow: 5px 10px 18px #aaa4a4 !important;
  background-color: rgb(211, 248, 253) !important;
  color: rgb(7, 7, 7) !important;
  font-family: "Source Serif Pro", serif !important;
  font-weight: bold;
}

.font {
  /*font-family: 'Cera Round Pro', sans-serif;*/
  font-family: "Manifestor", sans-serif !important;
}

.divider {
  width: 90%;
  height: 2px;
  background-color: rgb(58, 60, 131);
}

.divider1 {
  width: 100%;
  height: 50px;
  background-color: rgb(22, 21, 21);
  margin-top: 0px;
}

.divider2 {
  margin: 0 10px;
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: gray !important;
}

.btn1 {
  border: 1px solid black;
}
