body {
    width: 100%;
    /*background-color: rgb(120, 120, 199);*/
}

.navbar li a:hover {

    transform: scale(1.1);
}
.navimage{
    width:110px;
     height: 58px;

}

.font {
    /*font-family: 'Cera Round Pro', sans-serif;*/
    font-family: 'Manifestor', sans-serif;
}

#div1 {
    /* display: flex;*/
    height: 800px;
    width: 100%;

    /* border: 2px solid black;*/
    /*text-align: center;*/

}
.div1img{
    height: 550px;
    width:780px ;
}
.div1p{
    color: rgb(66, 64, 64);
}

#div2 {
    height: 700px;
    width: 100%;
    background-color: #f4f6f8;
    /* border: 2px solid black;*/
}
.div2video{
    height: 500px;
}

#div3 {
    /* display: flex;*/
    height: 900px;
    width: 100%;
    background-color: #dee6eb;

    /* border: 2px solid black;*/

}
.div3p{
    color: rgb(66, 64, 64);

}


.templatebtn {
    margin-top: 60px;
    margin-left: 525px;
    box-shadow: 0px 15px 20px rgba(19, 19, 26, 0.4);
}

.templatebtn:hover {
    background-color: #1b34c4;
    box-shadow: 0px 15px 20px rgba(14, 30, 172, 0.4);
    color: #fff;
    transform: scale(1.1);
}

#div4 {
    /* display: flex;*/
    height: 800px;
    width: 100%;
    background-color: #f9fbfc;

    /*border: 2px solid black;*/

}
.div4para{
    text-align: justify;
}
.div4img{
    width: 450px;
    height: 400px;
}

#div5 {
    height: 722px;
    width: 100%;
    background-color: #dee6eb;
    /* border: 2px solid black;*/
}

.div5img{
    height: 400px;
    width: 600px;
}

#div6 {
    /* display: flex;*/
    height: 480px;
    width: 100%;
  

     /*border: 2px solid black;*/
    /*text-align: center;*/

}
a{
    text-decoration: none;
}
.caraouselimg{
    height: 400px;
}
.footericons{
    font-size: 30px;
}
.hover{
    cursor: pointer;
}