@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  width: 100%;
  background-color: #7978c6;
}
.border{
  border: 2px solid black;

}
img{
  width: 430px;
  height: 350px;
}

p{
  color: rgb(238, 235, 231);
  font-size: 25px;
  
}