@import url('https://fonts.cdnfonts.com/css/cera-round-pro');
body{
    background-color: #7978c6;
}
.score{
    text-align: center;
    margin-top: 140px;
    font-size: 50px;

}
.para{
    text-align: center;
    color: rgb(11, 12, 12);
    margin-top: 60px;
    font-weight: bold;
    font-size: 30px;
}
.font {
    font-family: 'Cera Round Pro', sans-serif;
    /*font-family: 'Manifestor', sans-serif;*/

}
img{
    width: 430px;
  height: 350px;
  
}